In [1]:
import pandas as pd
import tensorflow as tf

In [2]:
csv_file = tf.keras.utils.get_file('heart.csv', 'https://storage.googleapis.com/applied-dl/heart.csv')

Downloading data from https://storage.googleapis.com/applied-dl/heart.csv
16384/13273 [=====================================] - 0s 3us/step

In [3]:
df = pd.read_csv(csv_file)

In [5]:
df.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,1,145,233,1,2,150,0,2.3,3,0,fixed,0
1,67,1,4,160,286,0,2,108,1,1.5,2,3,normal,1
2,67,1,4,120,229,0,2,129,1,2.6,2,2,reversible,0
3,37,1,3,130,250,0,0,187,0,3.5,3,0,normal,0
4,41,0,2,130,204,0,2,172,0,1.4,1,0,normal,0

In [6]:
df['thal'] = pd.Categorical(df['thal'])
df['thal'] = df.thal.cat.codes

In [7]:
df.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,1,145,233,1,2,150,0,2.3,3,0,2,0
1,67,1,4,160,286,0,2,108,1,1.5,2,3,3,1
2,67,1,4,120,229,0,2,129,1,2.6,2,2,4,0
3,37,1,3,130,250,0,0,187,0,3.5,3,0,3,0
4,41,0,2,130,204,0,2,172,0,1.4,1,0,3,0

In [8]:
target = df.pop('target')

In [9]:
dataset = tf.data.Dataset.from_tensor_slices((df.values, target.values))

In [12]:
for feat, targ in dataset.take(5):
  print ('Features: {}, Target: {}'.format(feat, targ))

Features: [ 63.    1.    1.  145.  233.    1.    2.  150.    0.    2.3   3.    0.
   2. ], Target: 0
Features: [ 67.    1.    4.  160.  286.    0.    2.  108.    1.    1.5   2.    3.
   3. ], Target: 1
Features: [ 67.    1.    4.  120.  229.    0.    2.  129.    1.    2.6   2.    2.
   4. ], Target: 0
Features: [ 37.    1.    3.  130.  250.    0.    0.  187.    0.    3.5   3.    0.
   3. ], Target: 0
Features: [ 41.    0.    2.  130.  204.    0.    2.  172.    0.    1.4   1.    0.
   3. ], Target: 0

In [17]:
train_dataset = dataset.shuffle(len(df)).batch(1)

In [18]:
def get_compiled_model():
  model = tf.keras.Sequential([
    tf.keras.layers.Dense(10, activation='relu'),
    tf.keras.layers.Dense(10, activation='relu'),
    tf.keras.layers.Dense(1)
  ])

  model.compile(optimizer='adam',
                loss=tf.keras.losses.BinaryCrossentropy(from_logits=True),
                metrics=['accuracy'])
  return model

In [19]:
model = get_compiled_model()
model.fit(train_dataset, epochs=15)

Epoch 1/15
WARNING:tensorflow:Layer dense is casting an input tensor from dtype float64 to the layer's dtype of float32, which is new behavior in TensorFlow 2.  The layer has dtype float32 because it's dtype defaults to floatx.

If you intended to run this layer in float32, you can safely ignore this warning. If in doubt, this warning is likely only an issue if you are porting a TensorFlow 1.X model to TensorFlow 2.

To change all layers to have dtype float64 by default, call `tf.keras.backend.set_floatx('float64')`. To change just this layer, pass dtype='float64' to the layer constructor. If you are the author of this layer, you can disable autocasting by passing autocast=False to the base Layer constructor.

303/303 [==============================] - 0s 809us/step - loss: 2.6010 - accuracy: 0.5941
Epoch 2/15
303/303 [==============================] - 0s 778us/step - loss: 0.7751 - accuracy: 0.7195
Epoch 3/15
303/303 [==============================] - 0s 771us/step - loss: 0.6608 - accuracy: 0.7492
Epoch 4/15
303/303 [==============================] - 0s 757us/step - loss: 0.5917 - accuracy: 0.7525
Epoch 5/15
303/303 [==============================] - 0s 774us/step - loss: 0.5614 - accuracy: 0.7360
Epoch 6/15
303/303 [==============================] - 0s 776us/step - loss: 0.5408 - accuracy: 0.7492
Epoch 7/15
303/303 [==============================] - 0s 754us/step - loss: 0.5186 - accuracy: 0.7360
Epoch 8/15
303/303 [==============================] - 0s 804us/step - loss: 0.5143 - accuracy: 0.7360
Epoch 9/15
303/303 [==============================] - 0s 781us/step - loss: 0.5014 - accuracy: 0.7360
Epoch 10/15
303/303 [==============================] - 0s 808us/step - loss: 0.4977 - accuracy: 0.7459
Epoch 11/15
303/303 [==============================] - 0s 782us/step - loss: 0.4879 - accuracy: 0.7459
Epoch 12/15
303/303 [==============================] - 0s 741us/step - loss: 0.4938 - accuracy: 0.7492
Epoch 13/15
303/303 [==============================] - 0s 738us/step - loss: 0.4916 - accuracy: 0.7525
Epoch 14/15
303/303 [==============================] - 0s 791us/step - loss: 0.4780 - accuracy: 0.7558
Epoch 15/15
303/303 [==============================] - 0s 774us/step - loss: 0.4738 - accuracy: 0.7591